.cocktail-card-holder {
  &:hover {
    color: #fff;
    text-decoration: none
  }
}

.cocktail-card {
  // background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h3 {
    color: #E8E9EB;
    font-size: 22px;
  }
  ul {

  }
  li {
    color: #fff;
    font-size: 14px;
  }
}

.cocktail-card:hover {
  opacity: 0.8;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

