.new_cocktail {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
}

.new_dose {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
  // text-align: center;
}
