.new_cocktail {
  background-color: #090B11;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.new_dose {
  background-color: #090B11;
  padding: 20px;
  border-radius: 10px;
  color: white;
  // text-align: center;
}
