.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.2s background-color ease;
  color: #F4F4F4;
}

.navbar-lewagon-white {
  background-color: #090B11;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;

}
 .navbar {
  opacity: 1;
 }

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  opacity: 0.6;
}

